* {
    user-select: none;
}

.tool-bar:first-child {
    padding-left:  0;
}

.tool-bar:last-child {
    padding-right:  0;
}

.tool {
    padding-right: 2em;
    padding-left:  2em;
    text-align: center;
    align-content: center;
    width: 50%;
    cursor: pointer;
    user-select: none;
}

.tool-active {
    color: #4d94ff;
    background-color: #20232a;
    padding-right: 2em;
    padding-left:  2em;
    text-align: center;
    align-content: center;
    width: 50%;
    cursor: pointer;
    user-select: none;
    border-bottom: 4px solid #4d94ff
}

.card-style {
    border-radius: 0px !important;
}

.centered {
    text-align: center;
    align-content: center;
}

.camera-style {
    color: orange;
}

.record-style {
    color: red;
}

.bottom-navbar, .bottom-navbar > div {
    background-color: #448AFF !important;
    min-height: 30px !important;
    max-height: 30px !important;
}   

.bottom-navbar a {
    color: inherit;
}

.bottom-navbar i {
    font-size: 18px;
}

.bottom-navbar .version-number{
    margin-left: auto;
}